[central]
central-pl ansible_host=PUBLIC_IP_CENTRAL ansible_user=SSH_USER internal_ip=INTERNAL_IP_CENTRAL node_name=central-pl

[agents]
agent-us ansible_host=PUBLIC_IP_AGENT_US ansible_user=SSH_USER internal_ip=INTERNAL_IP_AGENT_US node_name=agent-us
agent-pl ansible_host=PUBLIC_IP_AGENT_PL ansible_user=SSH_USER internal_ip=INTERNAL_IP_AGENT_PL node_name=agent-pl
agent-jp ansible_host=PUBLIC_IP_AGENT_JP ansible_user=SSH_USER internal_ip=INTERNAL_IP_AGENT_JP node_name=agent-jp
agent-au ansible_host=PUBLIC_IP_AGENT_AU ansible_user=SSH_USER internal_ip=INTERNAL_IP_AGENT_AU node_name=agent-au

[all:vars]
ansible_python_interpreter=/usr/bin/python3
